.home-container{
    padding: 1rem;

}

.cards-container {
    display: grid;
    padding: 4rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(620px, 1fr));;
    }

.big-card{
    align-self: center;
    display: flex;
    width: fit-content;
}